<h2> <%= error_message %> </h2>

<%= form_for user do |f| %>
    <%= f.label "名字" %>
    <%= f.text_field :name %>
    <%= f.label "密碼" %>
    <%= f.text_field :password %>
    <%= f.label "信箱" %>
    <%= f.text_field :email %>
    <%= f.submit "create" %>
<% end %> 